<app-header></app-header>

<div
  class="container mx-auto px-4 py-12 flex flex-col gap-8 md:flex-row md:gap-16 lg:gap-24"
>
  @if (!selectedPhoto) {
  <div class="flex justify-center items-center h-full w-full">
    <svg
      class="animate-spin h-10 w-10 text-blue-500"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.963 7.963 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
  </div>
  } @else{
  <img
    class="rounded-lg shadow-lg object-cover h-full w-full md:w-1/2 lg:w-2/5 transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
    [src]="selectedPhoto?.url"
    alt="{{ selectedPhoto?.title }}"
  />
  <div class="flex flex-col space-y-4 text-center md:text-left">
    <h2
      class="text-3xl font-bold text-gray-800 transition-colors duration-300 hover:text-gray-600"
    >
      {{ selectedPhoto?.title }}
    </h2>
    <p class="text-xl text-gray-500">Album ID: {{ selectedPhoto?.albumId }}</p>
    <p class="text-lg text-gray-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      vehicula enim at justo ultricies, ut fermentum lacus ultrices. Nullam nec
      dolor vel velit consectetur placerat. Vivamus vehicula, massa in fermentum
      facilisis, lectus nunc aliquet nulla, in auctor sem orci eu lorem. Fusce
      id ligula sed nisl venenatis pharetra.
    </p>
  </div>
  }
</div>
